.btN{
    width: 400px;
      border-radius:  0;
        display: flex;
        justify-content: center;

    }
    .btN :hover{
        color:yellow
    }



    .header{
        margin-top: 0cm;
        
        width: 950px;
      }

      .btnresetsearch{
          border-radius: 0;
          margin-left: 10px;
      }

      .utilisateur{
         
          display: flex;
          padding: 4px;
          margin-right: 20px;
         
           
      }
      .utilisateur>div{
          margin-left: 1cm;
      }