.btN{
    width: 400px;
      border-radius:  0;
        display: flex;
        justify-content: center;

    }
    .btN :hover{
        color:yellow
    }

    .result{
        margin-top: 1cm;
        
    }

    .btnsearch{
        border-radius:  0 ;
        width: 150px;
        margin-left: 0.5cm;
       
    }
    .header{
        margin-right: 4cm;
        
        width: 950px;
      }

      .btnresetsearch{
          border-radius: 0;
          margin-left: 10px;
      }