body{

  background-color: white;
 
  }
.login{

display: flex;
justify-content: center;
margin-top: 45px;

height: 579px;



 
  }
  .buttons{
    display: flex;
    flex-direction: column;
   
    justify-content: space-around;
  margin-left: 10px; margin-right: 10px; 
    
  }

  .Form{
    background-color: lightseagreen;

    height: 350px;
    width: 350px;
    margin-top: 3cm;
    border-radius: 10px;
    
    
    }
    

    .CI2{
      width: 328px;
     
    }
    .CI1{
      margin-top: 15px;
      width: auto;
     
      margin-bottom: 15px;
    }

    .inputlogin{
      margin-top: 30px;
      margin-left: 0;
    }